# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=

NEXT_PUBLIC_CONVEX_URL=
    
NEXTAUTH_URL=
AUTH_SECRET=

# Use the production URL when deploying to production
NEXT_PUBLIC_APP_URL=

# uploadthing
UPLOADTHING_TOKEN=



GITHUB_ID = 
GITHUB_SECRET = 

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 




