@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root  {
    --background: 39 100% 95%;
    --foreground: 39 5% 0%;
    --card: 39 50% 90%;
    --card-foreground: 39 5% 10%;
    --popover: 39 100% 95%;
    --popover-foreground: 39 100% 0%;
    --primary: 39 77% 34.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 39 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 1 30% 85%;
    --muted-foreground: 39 5% 35%;
    --accent: 1 30% 80%;
    --accent-foreground: 39 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 39 5% 90%;
    --border: 39 30% 50%;
    --input: 39 30% 18%;
    --ring: 39 77% 34.1%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 39 50% 5%;
    --foreground: 39 5% 90%;
    --card: 39 50% 0%;
    --card-foreground: 39 5% 90%;
    --popover: 39 50% 5%;
    --popover-foreground: 39 5% 90%;
    --primary: 39 77% 34.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 39 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 1 30% 15%;
    --muted-foreground: 39 5% 60%;
    --accent: 1 30% 15%;
    --accent-foreground: 39 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 39 5% 90%;
    --border: 39 30% 18%;
    --input: 39 30% 18%;
    --ring: 39 77% 34.1%;
    --radius: 0.5rem;
  }
  
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/inter-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/static/inter-Thin.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* Aplica a fonte Inter globalmente */
body {
  font-family: 'Inter', sans-serif;
}

/* Adicione outras classes específicas, se necessário */
.font-inter {
  font-family: 'Inter', sans-serif;
}